{% extends 'store/base.html' %}

{% block carrouss %}
{% endblock carrouss %}


{% block livre %}
{% endblock livre %}


{% block products %}
<h1 class="text-center">Disponible immédiatement</h1>
    <div class="container">
        <div class=" row row-content">
            <div class="col-md-5 col-lg-4 col-xl-5 p-5 offset-0">
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" class="w-100">
                <span class="position-relative bg-warning fw-bold texte-white d-flex align-items-cente justify-content-center">{{ product.price }}$</span>
            </div>
        

            <div class="col-md-5 col-lg-4 col-xl-5 p-5 best">
                <div class="text-warning display-3">
                    {{ product.name }}
                </div>
                <div class="text-danger fw-bold fs-3 ">
                    Prix:  $ {{ product.price }}
                </div>
                <div class="fs-4">
                    {{ product.description }}
                </div>  
            </div>
        </div>
    </div>
{% endblock products %}

{% block banniere %}
{% endblock banniere %}

{% block temoignage %}
{% endblock temoignage %}